.homeTitle {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: antiquewhite;
    z-index: 99;
    font-size: xxx-large;
    margin-top: -13%;
    margin-left: 24%;
}

.bodyHome {
    background-color: #121212;
}

.homeButton {
    margin-top: 1%;
    margin-left: 2%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.bodyA {
    background-color: #121212;
}

.bodyB {
    background-color: #121212;
}

.bodyC {
    background-color: #121212;
}

.bodyD {
    background-color: #121212;
}

.bodyE {
    background-color: #121212;
}

.bodyF {
    background-color: #121212;
}

.bTitle {
    background-color: #121212;
}

.bImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.bSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

.cTitle {
    background-color: #121212;
}

.cImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.cSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

.aTitle {
    background-color: #121212;
}

.aImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.aSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

.dTitle {
    background-color: #121212;
}

.dImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.dSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

.eTitle {
    background-color: #121212;
}

.eImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.eSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

.fTitle {
    background-color: #121212;
}

.fImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.fSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

.aButton {
    margin-left: 3%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.bButton {
    margin-top: 1%;
    margin-left: 1%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.cButton {
    margin-top: 1%;
    margin-left: 1%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.dButton {
    margin-top: 1%;
    margin-left: 1%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.eButton {
    margin-top: 1%;
    margin-left: 1%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.fButton {
    margin-top: 1%;
    margin-left: 1%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.backImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 20%;
}

.backImgS {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

footer {
    margin-top: 21.5%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: aliceblue;
}
