.homeTitle {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: antiquewhite;
    z-index: 99;
    font-size: xxx-large;
    margin-top: -13%;
    margin-left: 24%;
}

.calculator2 {
    width:40%;
}

.calculator {
    width:40%;
}

.calculatorsTitle {
     font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: antiquewhite;
    z-index: 99;
    font-size: xxx-large;
    margin-top: 5%;
    margin-left: 35%;
}

.solarDesc {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: antiquewhite;
    z-index: 99;
    font-size: large;
    margin-top: 15%;
    margin-left: 5%;
    margin-right:5%;
}

.bodyHome {
    background-color: #121212;
}

.homeButton {
    margin-top: 1%;
    margin-left: 2%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.orange-box {
  background-color: brown;                
  border-radius: 15px;     
  width: 80vw;
  padding:10px;
  height: 80vh;
  margin-left: 7.5%;
  text-align: center;
  margin-top: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.bodyA {
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bodyB {
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bodyC {
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bodyD {
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bodyE {
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bodyF {
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bTitle {
    background-color: #121212;
}

.bImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.bSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    font-size: x-small;
}

.cTitle {
    background-color: #121212;
}

.planImg {
    margin-left: -200px;
}

.cImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.cSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

.aTitle {
    background-color: #121212;
}

.aImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.aSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

.dTitle {
    background-color: #121212;
}

.dImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.dSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

.eTitle {
    background-color: #121212;
}

.eImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.eSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

.fTitle {
    background-color: #121212;
}

.fImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.fSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

.aButton {
    margin-left: 3%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.bButton {
    margin-top: 1%;
    margin-left: 1%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.cButton {
    margin-top: 1%;
    margin-left: 1%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.dButton {
    margin-top: 1%;
    margin-left: 1%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.eButton {
    margin-top: 1%;
    margin-left: 1%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.fButton {
    margin-top: 1%;
    margin-left: 1%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.backImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 20%;
}

.backImgS {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    margin-left: 5.5%;
    font-size: x-small;
}

footer {
    margin-top: 21.5%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: aliceblue;
}

.pa {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 1000px;
  height: 200px;
}

.pb {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 1000px;
  height: 200px;
}

.pc {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 1000px;
  height: 200px;
}

.pd {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 1000px;
  height: 200px;
}

.pe {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 1000px;
  height: 200px;
}

.pf {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 1000px;
  height: 200px;
}
