.homeTitle {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: antiquewhite;
    z-index: 99;
    font-size: 5vw;
    margin-top:5%;
    text-align:center;
}

.planDesc {
    text-align:left;
    float:left;
    margin-left:-15%;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
    max-width:50%;
}

.headerHome {
    display: grid;
    grid-template-columns: repeat(9, 0.1fr);
    align-items: center;
    background-color: #121212;
    border-radius:10px;
    margin-top:0px;
    height:80px;
    width:97vw;
}

.headerHome > * {
}

.orContent {
    display: flex;
    align-items: flex-start;
}

.calculatorTab {
    justify-content:center;
    align-items: center;
    text-align: center;
}

.calculator2title {
  font-size:2vw;
  color:antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator1title {
  font-size:2vw;
  color:antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator2 {
    width:40%;
}

.calculator {
    width:40%;
}

.calculatorTab {
    align-items:middle;
}
    
.uklabel {
  font-size:x-large;
  color:antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

.answeruk {
  font-size:large;
  color:antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

.answerkm {
  font-size:large;
  color:antiquewhite;
  font-family: Arial, Helvetica, sans-serif; 
}

.kmlabel {
  font-size:x-large;
  color:antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

.calculatorsTitle {
     font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: antiquewhite;
    z-index: 99;
    font-size: 4vw;
}

.solarDesc {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: antiquewhite;
    z-index: 99;
    font-size: 2vw;
    margin-top: 15%;
    margin-left: 5%;
    margin-right:5%;
}

.bodyHome {
    background-color: #121212;
    
  background-image: url("https://i.ibb.co/HG86xwQ/download.png");
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.homeButton {
    margin-top: 1%;
    margin-left: 2%;
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.orange-box {
  background-color: brown;                
  border-radius: 15px;     
  width: 80vw;
  padding:10px;
  height: 80vh;
  margin-left: 7.5%;
  text-align: center;
  margin-top: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.bodyA {
  background-image: url("https://i.ibb.co/HG86xwQ/download.png");
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bodyB {
  background-image: url("https://i.ibb.co/HG86xwQ/download.png");
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bodyC {
  background-image: url("https://i.ibb.co/HG86xwQ/download.png");
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bodyD {
  background-image: url("https://i.ibb.co/HG86xwQ/download.png");
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bodyE {
  background-image: url("https://i.ibb.co/HG86xwQ/download.png");
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bodyF {
  background-image: url("https://i.ibb.co/HG86xwQ/download.png");
  padding:10px;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.bTitle {
    background-color: #121212;
}

.bImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.imgSource {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    font-size: x-small;
    float:left;
    margin-left:20%;
}

.cTitle {
    background-color: #121212;
}

.planImg {
    background-color:#121212;
    border: 4px solid #b7b7b7;
    border-radius: 7%;
    margin-left:5%;
    max-width:500px;
    max-height:800px;
    width:80%
}

.cImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.aTitle {
    background-color: #121212;
}

.aImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.dTitle {
    background-color: #121212;
}

.dImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.eTitle {
    background-color: #121212;
}

.eImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.fTitle {
    background-color: #121212;
}

.fImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 20%;
}

.aButton {
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.bButton {
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.cButton {
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.dButton {
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.eButton {
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.fButton {
    font-size:x-large;
    color:brown;
    border: none;
    background-color: transparent;
}

.imageFrame {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  width:50%;
}

.backImg {
    background-color:#121212;
    border: 2px solid #b7b7b7;
    border-radius: 10px;
    transform: scale(1.6);
    margin-bottom: 5%;
}

.backImgS {
    font-family: Arial, Helvetica, sans-serif;
    stroke: black;
    stroke-width: 1px;
    color: rgba(114, 114, 114, 0.315);
    font-size: 1vw;
}

footer {
    margin-top: 21.5%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: aliceblue;
}

.pa {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 1000px;
  height: 200px;
}

.pb {
  padding-right:15%;
}

.pc {
  padding-right:15%;
}

.pd {
  padding-right:15%;
}

.pe {
  padding-right:15%;
}

.pf {
  padding-right:15%;
}
